<div class="header well well-sm">
  <ul class="nav nav-pills" data-tabs="tabs">
    <!--<a class="btn btn-info pull-right" ng-click="save();">Save</a>-->
    <a class="btn btn-default pull-left" onclick="history.go(-1);">Back</a>
    <div class="title">
      <span>Time Calculator</span>
    </div>
  </ul>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-8 column-header">Time</div>
    <div class="col-xs-3 column-header">Length</div>
    <div class="col-xs-1 "></div>
  </div>


  <div ng-repeat="entry in data" class="row">

    <div id="input{{$index}}" class="col-xs-8 entry" style="background-color: transparent; border: none;">
      <div class="input-group col-xs-6">
        <input type="time" class="form-control time-in"
               ng-model="entry.timeIn" min="0"/>
      </div>
      <div class="input-group col-xs-6">
        <input type="time" class="form-control time-out"
               ng-model="entry.timeOut" min="0"/>
      </div>
    </div>

    <div id="duration{{$index}}" class="col-xs-3 text-center">
      <span class="entry" style="padding:5px; border-radius:5px;">{{entry.duration}}</span>
    </div>

    <div id="removeBtn{{$index}}" class="col-xs-1 text-center">
      <button class="btn btn-sm btn-danger" ng-click="removeTime($index);">X</button>
    </div>

    <span style="display:none;">
      {{ setHeight('input', 'duration', $index, '10'); }}
      {{ setHeight('input', 'removeBtn', $index, '12'); }}
    </span>

  </div>


  <form class="row" style="margin-top: 2em;">

    <div class="col-xs-8 form-group">
      <div class="input-group col-xs-6">
        <span class="input-group-addon">In</span>
        <input type="time" class="form-control time-in"
               ng-model="newTimeIn" min="0"/>
      </div>
      <div class="input-group col-xs-6">
        <span class="input-group-addon">Out</span>
        <input type="time" class="form-control time-out"
               ng-model="newTimeOut" min="0"/>
      </div>
    </div>

    <div class="col-xs-3 " ><span>{{duration}}</span></div>
    <div class="col-xs-1 " style="padding-top: 6px;">
      <button ng-click="addNewTime(newTimeIn,newTimeOut);" class="btn btn-sm btn-success">+</button>
    </div>
  </form>


  <div class="row" style="margin-top: 2em;">
    <div class="col-xs-4">
      <button class="btn btn-default pull-left" ng-click="reset();">Reset</button>
    </div>
    <span class="col-xs-4 text-right" style="color:#DEA147; font-size:19px;">Total:</span>
    <div class="col-xs-4 text-center total">{{totalTime}}</div>
  </div>


</div>


<!--<div class="text-center">-->
  <!--<button class="btn btn-info" ng-click="reset();">Reset</button>-->
<!--</div>-->